@page "/fetchdata"
@using ArifClient.Shared.Models
@inject HttpClient Http
@inject LoggedInUser loggedInUser
@inject NavigationManager nav


<img src="/css/logo.png" alt="Logo" />
<h1>Arifs Humidor-Data</h1>

<p>Information från Cigarrhumidor</p>

@if (readings == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (!loggedInUser.isLoggedIn)
    {
        <p>Logga in först</p>
    }
    else
    {
        <table class="table-striped table-responsive-lg">
            <thead>
                <tr>
                    <th>Temperatur</th>
                    <th>Luftfuktighet</th>
                    <th>Tid</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var reading in readings)
                {
                    <tr>
                        <td>@reading.Temperature C</td>
                        <td>@reading.Humidity %</td>
                        <td>@reading.Timestamp</td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @if (loggedInUser.isLoggedIn)
    {
        <button class="btn btn-danger mt-2" @onclick="LogOut">Logga ut</button>
    }
}

@code {
    private List<HumidorReading> readings;

    protected override async Task OnInitializedAsync()
    {
        readings = await Http.GetFromJsonAsync<List<HumidorReading>>("Humidor");
    }
    protected void LogOut()
    {
        loggedInUser.isLoggedIn = false;
        loggedInUser.Name = "";
        nav.NavigateTo("/");
    }

}
